<header>
    <div class="header">
        <button *ngIf="!role" mat-stroked-button routerLink='register'>Registro</button>
        <button mat-stroked-button *ngIf="!role" routerLink="login">Login</button>
        <button *ngIf="role" mat-stroked-button [matMenuTriggerFor]="menuconf">Conferencias</button>
        <mat-menu #menuconf="matMenu">
            <button mat-menu-item routerLink="conferencias">Ver todas</button>
            <button mat-menu-item routerLink="conferencias/own">Mis conferencias</button>
        </mat-menu>
        <button *ngIf="role" mat-stroked-button routerLink="post-list">Posts</button>
        <button *ngIf="role" mat-stroked-button routerLink="post-list">Asistiré</button>
        <button *ngIf="isAdministrator()" mat-stroked-button routerLink="administrator">Administración</button>
        <button *ngIf="isAdministrator()" mat-stroked-button routerLink="banners">Anuncios</button>
        <button *ngIf="role" mat-stroked-button routerLink="profile">Perfil</button>
        <button *ngIf="role" mat-stroked-button (click)="logout()">Logout</button>
    </div>
</header>