<form (ngSubmit)="postUser()" class="content">
  <fieldset>
    <legend>Cuenta de usuario</legend>
    <mat-form-field><input matInput type="text" name="username" class="input" placeholder="Nick" [(ngModel)]="username"
        #usernameInput="ngModel" required></mat-form-field>
    <mat-form-field><input matInput type="password" name="password" class="input" placeholder="Password"
        [(ngModel)]="password" #passwordInput="ngModel" required></mat-form-field>
  </fieldset>
  <fieldset>
    <legend>Datos personales</legend>
    <mat-form-field><input matInput type="text" name="name" class="input" placeholder="Nombre" [(ngModel)]="name"
        #nameInput="ngModel" required></mat-form-field>
    <mat-form-field><input matInput type="text" name="surname" class="input" placeholder="Apellidos"
        [(ngModel)]="surname" #surnameInput="ngModel" required></mat-form-field>
    <mat-form-field><input matInput type="text" name="phone" class="input" placeholder="Teléfono" [(ngModel)]="phone"
        #phoneInput="ngModel" required></mat-form-field>
    <mat-form-field><input matInput type="text" name="email" class="input" placeholder="Email" [(ngModel)]="email"
        #emailInput="ngModel" required></mat-form-field>
    <mat-form-field><input matInput type="text" name="photo" class="input" placeholder="Foto de perfil"
        [(ngModel)]="photo" #photoInput="ngModel" required></mat-form-field>
    <!-- <select name="role" [(ngModel)]="role" #roleInput="ngModel" required>
    <option value="User">User</option>
    <option value="Organizator">Organizator</option>
  </select> -->
    <mat-form-field>
      <mat-label>Tipo</mat-label>
      <select name="role" id="role" placeholder="Tipo" [(ngModel)]="role" #roleInput="ngModel" required>
        <mat-option *ngFor="let role of roles" [value]="role">
          {{role}}
        </mat-option>
      </select>
    </mat-form-field>
  </fieldset> <br>
  <button mat-stroked-button type="submit">Registrarse</button>
</form>