<div class="content">
  <mat-card style="float: left;position: relative;">
    <mat-card-header>
      <legend style="align-content: flex-start; position: absolute; color:rgba(0, 0, 0, 0.50)">Evento - {{evento.role}}
      </legend>
      <mat-card-title>
        <br>
        <h1 style="color:#6b5b95;">{{evento.name}}</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      {{evento.description}}<br><br>
      <b>Inicio:</b> {{evento.start}}<br>
      <b>Fin:</b> {{evento.end}}<br>
      <b>Cupos:</b> {{evento.seatsLeft}}/{{evento.allowedParticipants}}<br>
      <div>
        <h3>Participantes</h3>
        <mat-list>
          <mat-list-item *ngFor="let participant of participants">
            {{participant.name}} {{participant.surname}}</mat-list-item>
        </mat-list>
      </div>
      <div>
        <h3>Ponentes</h3>
        <mat-list>
          <mat-list-item *ngFor="let speaker of speakers">
            {{speaker.name}} {{speaker.surname}}
          </mat-list-item>
        </mat-list>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <a *ngIf="isOwn()" mat-stroked-button [routerLink]="['/event-edit', evento.id]">Editar</a><a></a>
    </mat-card-actions>
  </mat-card>


</div>