<form style="margin-top: 150px;" [formGroup]="eventForm" (ngSubmit)="onSubmit()" novalidate>
    <fieldset formGroupName="event">
        <legend>Datos del evento</legend>
        <mat-form-field><input matInput formControlName="name" type="text" placeholder="Nombre" required>
        </mat-form-field>
        <mat-form-field><input matInput formControlName="description" type="text" placeholder="Descripción" required>
        </mat-form-field>
        <mat-form-field><input matInput formControlName="allowedParticipants" type="number" min="0" placeholder="Cupos"
                required></mat-form-field>
        <mat-form-field><input matInput formControlName="speakersNames" type="text" placeholder="Ponentes" required>
        </mat-form-field>
        <mat-form-field><input matInput formControlName="start" type="date" placeholder="Inicio" required>
        </mat-form-field>
        <mat-form-field><input matInput formControlName="end" type="date" placeholder="Fin" required></mat-form-field>
        <mat-form-field>
            <mat-label>Tipo</mat-label>
            <mat-select name="role" id="role" formControlName="role">
                <mat-option *ngFor="let role of roles" [value]="role">
                    {{role}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </fieldset>
    <button type="submit" [disabled]="eventForm.pristine">Save</button>

</form>