<div class="content">
    <a *ngIf="role == 'Organizator'" routerLink='/conferencia-form'>Crear conferencia</a>
    <ul *ngFor="let conferencia of conferencias">
        <div class="conferencia-style">
            <mat-card class="simple">
                <mat-card-title><b>{{conferencia.name}}</b></mat-card-title>
                <mat-card-subtitle><b>{{conferencia.theme}} By: {{conferencia.organizator}}</b></mat-card-subtitle>
                <mat-card-content>{{conferencia.description}}<br><br>
                </mat-card-content>
                <mat-card-action><button mat-button [routerLink]="['/conferencia', conferencia.id]">Ver más</button>
                    <button *ngIf="own" mat-button [routerLink]="['/conferencia-edit', conferencia.id]">Editar</button>
                    <button *ngIf="own" mat-button (click)="delete(conferencia.id)">Borrar</button>
                </mat-card-action>
            </mat-card>
        </div>
    </ul>
</div>