<div class="content">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h1>{{conferencia.name}}</h1>
            </mat-card-title>
            <mat-card-subtitle>{{conferencia.theme}}</mat-card-subtitle>
        </mat-card-header>
        <iframe width="500" height="350" frameborder="0" style="border:0; float: right;" [src]="getGoogleURL()"
            allowfullscreen>
        </iframe>
        <mat-card-content>
            <h2>{{conferencia.description}}</h2>
            {{conferencia.price}} €<br>
            <label>Cupos: </label>{{conferencia.allowedParticipants}}<br>
            <label>Inicio: </label>{{conferencia.start}}<br>
            <label>Fin: </label>{{conferencia.end}}<br>
            <label>Sitios libres: </label>{{ conferencia.seatsLeft}}
        </mat-card-content>
        <app-list-event [conf]='id' [own]='own'></app-list-event>
        <h2>Comentarios</h2>
        <ul *ngFor="let comment of comments">
            {{comment.title}}<br>
            {{comment.author}}
        </ul>
        <app-comment-form [id]="conferencia.id"></app-comment-form>
    </mat-card>
</div>